@media screen and (min-width: 796px) {
  .card.card_post {
    .card-image {
      img {
        max-width: 95%;
        max-height: 300px;
      }
    }
  }
}

.card.card_post {
  &:last-of-type {
    margin-bottom: 65px;
  }

  padding-top: 20px;
  box-shadow: none;
  border-bottom: 1px solid gray;

  .card-image {
    padding: 0;

    img {
      width: auto;
      height: auto;
    }
  }

  figure.image {
    display: flex;
    justify-content: center;
  }
}
